*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
img{
    width:100%;
}
a{
    color:unset;
    text-decoration: none;
}
header{
    background-color: #f8f8f8;
    padding:20px;
    
}
header ul{
    display: grid;
    grid-template-columns:repeat(9,auto);
    /* gap:20px; */
    padding:0 30px;
    place-items: center;
}
header ul li{
    display: inline-block;
    padding:0 20px;
    color:#9D9D9D;
}
.additional{
    visibility:hidden;
}
.log-in,.sign-up{
    display: grid;
    justify-self: end;
    padding: 0 5px;
}
.log-in{
    margin-left:250px;
    color:#046582;
}
.sign-up{
    background-color:  #046582;
    border-radius: 10px;
    padding:10px 25px;
    color:white;
}
main{
    /* height:100vh; */
    /* display: grid; */
    /* gap:20px; */
}
/* Main Part */
#intro{
   
    height:90vh;
    background-image: url(https://images.pexels.com/photos/1462630/pexels-photo-1462630.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: end;
    position:relative;
}
.intro-paragraph{
    border-radius: 5px;
    display: grid;
    gap:30px;
    padding:10px;
    width:550px;
    position: absolute;
    bottom:150px;
    left:20px;
    color:white;
    padding:30px 20px;
    /* backdrop-filter:blur(10px); */
    background-color: #046582;
}
.title{
    font-size:45px;
}
.search-box{
  
   display: grid;
   grid-template-columns: 1fr auto;
}
.search-bar{
    width:100%;
    font-size:1rem;
    padding:10px;
    border-radius: 1px;
    border:none;
}
.search-button{
    font-size: 1rem;
    padding:16px 25px;
    margin-right:5px;
    background-color:#79B4B7;
    border:none;
}
#features{
    display: grid;
    grid-template-columns: repeat(4,300px);
    gap:30px;
    padding:100px 20px;
    justify-content: center;
   background-color: white;
}
.feature-card{
    display: grid;
    gap:10px;
    place-items: center;
    padding:10px;
}
.feature-card h3{
    font-size:1.25rem;
}
.feature-card p{
    font-size:14px;
    text-align: center;
    color:#9D9D9D;
}
.feature-icon{
    width:60px;
}
.learn-more{
    border-radius: 10px;
    background-color:#79B4B7;
    padding:10px 15px;
    color:white;
    margin-top:10px;
}
#popular-courses{
    display: grid;
    gap:30px;
    place-items: center;
    padding:60px;
    padding-bottom: 100px;
    background-color: #5EAAA8;
}
.popular-courses-heading{
    font-size:40px;
    margin:0px 20px;
    margin-bottom: 60px;
    color:white;
}
.courses{
    display: grid;
    grid-template-columns: repeat(3,300px);
    grid-auto-rows: 350px;
    gap:50px;
}
.course-card{
    display: grid;
    gap:10px;
    border:none;
    place-items: start;
    background-color: white;
    box-shadow: 0 4px 20px 0 rgba(63, 45, 45, 0.2);
}
.card-image{
    width:100%;
    
}
.course-title{
    font-weight: 500;
    margin:10px;
}
.review-info{
    display: grid;
    gap:10px;
    padding:10px;
    /* align-items: start; */
}
.fa-star{
    color:#ffa200;
}
.review-info span{
    margin-left:5px;
    color:#6a6a6a;
}
.review-info p{
    color:#9D9D9D;
}
#browse-courses{
    display: grid;
    place-items: center;
    gap:30px;
    padding:70px 50px;
    background-color: #f8f8f8;
}
.course-categories{
    display: grid;
    grid-template-columns: repeat(6,200px);
    grid-auto-rows: 200px;
    gap:10px;
    
}
.course-category{
    display: grid;
    place-items: center;
    gap:10px;
    /* border:solid 1px black; */
    padding:30px 20px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
    background-color: white;
}

.course-category p{
    font-size: 17px;
    font-weight: 700;
    text-align: center;
}
.category-img{
    width:70px;
}

.course-num{
    border-radius:10px;
    color:#046582;
    background-color: #f8f8f8;
    padding:3px 7px;
}
.title-box{
    display: grid;
    place-items: center;
    gap:5px;
}
.title-box h1{
    font-size: 40px;
}
.title-box h4{
    color:#046582;
}

#testimonials{
    background-color: #17a2b7;
    display: grid;
    place-items: center;
    gap:50px;
    padding:80px;
}
.all-testimonials{
    display: grid;
    grid-template-columns: repeat(4,300px);
    grid-auto-rows: 320px;
    gap:20px;
}
.testimonial-cards{
    background-color: white;
    display: grid;
    gap:20px;
    padding:20px;
    box-shadow: 5px 6px 8px 0 rgba(0, 0, 255, 0.2);
}
.quotes-img{
    width:50px;
}
.student-info{
    display: grid;
    grid-template-columns: auto 100px;
    place-items: left;
}
.profile-img{
    width:100%;
    height:80%;
    border-radius:50%;
    
}
.col-info{
    padding:10px 0;
    display: grid;
}
.testimonials-title-box{
    display: grid;
    place-items: center;
    gap:5px;
}

.testimonials-title-box h1{
    font-size: 40px;
    color:white;
}
.testimonials-title-box h4{
    color:#CFFFFE;
}
.student-name{
    font-weight: 700;
}

#upcoming-courses{
    display: grid;
    place-items: center;
    gap:50px;
    padding:80px;
}
.upcoming{
    display: grid;
    grid-template-columns: repeat(3,300px);
    grid-auto-rows: 350px;
    gap:30px;
}
.upcoming-title-box{
    display: grid;
    place-items: center;
    gap:5px;
}
.upcoming-title-box h1{
    font-size: 40px;
    color:#17a2b7;
}
.upcoming-title-box h4{
    color:#046582;
}
#subscribe{
    display: grid;
    /* grid-template-columns:500px auto; */
    place-content: end;
    padding:100px;
    background-color: #0A1931;
    background-image: url(https://images.pexels.com/photos/3205538/pexels-photo-3205538.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: start;
    
}
.sub-info{
    display: grid;
    gap:10px;
    place-items: center;
    margin-right: 250px;
   
}
.sub-info h3{
    font-size:28px;
    margin-bottom: 20px;
    color:white;
}
.sub-info p{
    font-size:17px;
    margin-bottom: 20px;
    color:#EDEDED;
}
.sub-img{
    width:100%;
}
.email-input{
    display: grid;
    gap:5px;
    grid-template-columns: repeat(2,auto);
}
.email-field{
    border:none;
    border-bottom: solid 1px rgba(255, 255, 255, 0.2);
    background-color:transparent;
    outline: none;
    font-size: 14px;
    padding-left:25px;
}
.email-field::placeholder{
    color:white;
    opacity: 0.5;
}
.sub-button{
    border:solid 1px white;
    padding:10px 20px;
    font-size:14px;
    background-color: transparent;
    color:white;
    border-radius: 30px;
}
.sub-button:hover{
    background-color: white;
    color:black;
}
footer{
    display: grid;
    gap:20px;
    padding:50px;
    place-items: center;
}
.social-media{
    display: grid;
    grid-template-columns: repeat(4,auto);
    gap:10px;
}
.follow{
    font-size:20px;
    font-weight: 700;
}